<!DOCTYPE html>
 <html lang="en">
  <head>
       <title>Layouts</title>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="CSS/stilo1.css">
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Amatic+SC|Bangers|Gloria+Hallelujah|Bad+Script|Voltaire' rel='stylesheet' type='text/css'>
  </head>
   <body>
    <header></header>
     <nav>
      <ul >
     	 <li><a href="#">INICIO</a></li>
     	 <li><a href="#">NOSOTROS</a></li>
     	 <li><a href="#">PRODUCTOS</a></li>
     	 <li><a href="#">CONTACTO</a></li>
      </ul>
     </nav>
    <div class="divg">
    <div class="div1">
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
	<div class="div2">
		<img src="img/indice.jpeg"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	</div class="div3">
  <button style="position: absolute;bottom: 0;left: 0%"><img src="img/buy.jpeg" >BUY NOW</button>
  </div>
  
   </body>
 </html>